[submodule "apps/bids-app"]
	path = apps/bids-app
	url = https://github.com/BIDS-Apps/ndmg.git/
[submodule "apps/boutiques"]
	path = apps/boutiques
	url = https://github.com/neurodata/boutiques-tools.git/
