# This travis build simply tests to see if the ndmg pipeline runs to completion.
# Note that this does not mean the ndmg pipeline is *correct* -- just that it ran to completion!
# TODO : run ndmg with `pytest`, rather than travis.
# TODO : travis breaks if you make edits directly from github, because the branch name is wrong.


virtualenv:
  system_site_packages: true

language: python

python:
    - "2.7"

services:
    - docker

addons:
  artifacts: true
    paths: 
    -$(readlink -f output/outputs)
  apt:
    sources:
      - deadsnakes
    packages:
      - docker-ce
      - python3.6

before_install:
    # grab correct branch, update it to the new branch version
    - docker version
    - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
    - echo $BRANCH
    - mkdir input
    - mkdir output
    - readlink -f input
    - docker pull neurodata/ndmg_dev:latest
    - docker images
    - docker run -t -d --name travis -v $(readlink -f input):/input -v $(readlink -f output):/output --entrypoint /bin/bash neurodata/ndmg_dev:latest
    - docker ps
    - docker exec -w /ndmg travis git fetch --all
    - docker exec -w /ndmg travis git checkout $BRANCH
    - docker exec -w /ndmg travis git pull
    - docker exec -w /ndmg travis git branch

install:
  - docker exec -w /ndmg travis pip uninstall ndmg -y
  - docker exec -w /ndmg travis pip install -r requirements.txt
  - docker exec -w /ndmg travis pip install pytest
  - docker exec -w /ndmg travis pip install .

script:
  # Run ndmg in docker, run pytest in docker
  - docker exec -w /ndmg travis ndmg_bids --bucket ndmg-data --remote_path HNU1t --participant_label 0025427 --session_label 1 --modality dwi --atlas desikan --mod det --tt eudx --mf tensor --sp native /input /output participant
  - docker exec -w /ndmg travis pytest -v --disable-warnings

 after_success:
  - git pull https://github.com/neurodata/graphutils.git
  - cd graphutils
  - pip3 install .
  - cd ..

  # make png of output edgelist, stick it in directory that will get put on s3
  - python3 -c "from graphutils.graph_stats import NdmgStats; n = NdmgStats('$(readlink -f output)'); ns.visualize(0, savedir='output/outputs')"

deploy:
  # Given build succeeds, push ndmg_dev image to dockerhub
  provider: script
  script: bash deploy.sh
  on:
    branch: staging
    condition: $TRAVIS_BRANCH = staging