# This travis build simply tests to see if the ndmg pipeline runs to completion.
# Note that this does not mean the ndmg pipeline is *correct* -- just that it ran to completion!
# TODO : run ndmg with `pytest`, rather than travis.
# TODO : travis breaks if you make edits directly from github, because the branch name is wrong.

# dist: xenial
# virtualenv:
#   system_site_packages: true

language: python

python:
  - "3.6"

services:
  - docker

addons:
  apt:
    packages:
      - docker-ce

env:
  matrix:
    - SP=native MOD=det
    # - SP=mni MOD=det
    - SP=native_dsn MOD=det
    - MOD=prob SP=native

before_install:
  # make local input and output directories to attach to container
  - cd ..
  - mkdir -m 777 input output

  # grab data from neuroparc
  - git lfs clone https://github.com/neurodata/neuroparc.git
  - mv neuroparc/data/* input
  - rm -rf neuroparc

  # useful log checks
  - readlink -f input
  - ls
  - pwd
  - uname -a
  - df -h
  - docker version

  # grab ndmg's travis docker image, run it with local branch attached as a volume
  - docker pull neurodata/ndmg_travis:latest
  - docker images
  - cd ndmg
  - docker run -t -d --name travis -v $(pwd):/ndmg -v $(readlink -f ../input):/input -v $(readlink -f ../output):/output --entrypoint /bin/bash neurodata/ndmg_travis:latest
  - docker ps

install:
  # useful log checks for packages whose versions have given us trouble
  - docker exec -w /ndmg travis pip show dipy networkx

  # get travis branch installed
  - docker exec -w /ndmg travis pip install pytest
  - docker exec -w /ndmg travis pip install .


script:
  # Run ndmg in docker, run pytest in docker.
  # top command is to prevent travis from breaking at eddy_correct
  - while sleep 9m; do echo "=====[ $SECONDS seconds still running ]====="; done &
  - docker exec -w /ndmg travis ndmg_bids --sp $SP --mod $MOD --participant_label 0025864 --session_label 1 --atlas desikan --seeds 1 /input /output
  - kill %1
  - docker exec -w /ndmg travis pytest -v --disable-warnings
