hyppo==0.1.3
awscli==1.15.40
virtualenv
cython
vtk
pyvtk
pandas==1.3.1
ipython
scikit-image
scikit-learn==0.22.1
graspologic
regex
setuptools==57.5.0
numba==0.52.0
networkx==2.4
click==6.7
future==0.16.0
lockfile==0.12.2
nibabel==3.0.0
nilearn==0.4.1
nipype==1.1.2
nose==1.3.7
patsy==0.5.0
prov==1.5.0
psutil==5.6.6
python-dateutil==2.7.3
numpy==1.20.1
scipy>=0.13.3
dipy==1.1.1
boto3==1.7.37
matplotlib==3.1.3
plotly==1.12.1
duecredit
pybids==0.12.0
configparser>=3.7.4
fury==0.5.1
pytest
pathlib2
requests==2.21.0
traits==4.6.0
PyBASC==0.4.5
pathlib==1.0.1