{# the template name is .html by default, but it seems to be plaintext #}
Someone (hopefully you) has requested that the password for your account "{{ user.username }}" on {{ site_name }} be reset. If you weren't the one who requested this, or have since remembered your password, you can safely ignore this email.

Otherwise, in order to complete the process, click on the following link:

{{ protocol }}://{{ domain }}/{% url password-reset-confirm uid,token %}

(If it's not a link, you can copy-paste the address into your web browser's address bar.)

If you experience any problems, please let us know.

- {{ site_name }}
