<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load getScriptPrefix %}
<html lang="en">
    <head>
        <!--meta data-->
        <meta property="og:title" content="connectome"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="mr connectome"/>
        <!-- Style sheet and logo image -->
	<link  rel="shortcut icon" type="image/x-icon" href= "{% static 'images/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'default.css' %}"/>

        <title>
        {% block title %}
          {# Title here!#}
        {% endblock title %}
        </title>

          <script type="text/javascript">
            // Function to add a spinner during upload & processing
            function showSpinner(){
                    document.getElementById('loadingImage').style.visibility='visible';
              }
          </script>

        <script type="text/javascript">
          function Validate(oForm, _validFileExtensions) {
            var arrInputs = oForm.getElementsByTagName("input");
            for (var i = 0; i < arrInputs.length; i++) {
              var oInput = arrInputs[i];
              if (oInput.type == "file") {
                var sFileName = oInput.value;
                if (sFileName.length > 0) {
                  var blnValid = false;
                  for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                      blnValid = true;
                      break;
                        }
                      }

                if (!blnValid) {
                    document.getElementById('loadingImage').style.visibility='hidden';
                    alert("Sorry, " + sFileName.split("\\").pop() + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    return false;
                }
            }
        }
    }

    return true;
}
</script>

    </head>
    <body>
      <a href="http://openconnecto.me" target="blank">
      <img src="{% static 'images/openconnectome_brain_logo.png' %}" border="0"/></a>

        <!-- Navigation pane -->
	<div class="container">
	    <div class="navigation">
                    <a href={{"welcome"|getScriptPrefix}}>Home</a>

		    <a href={{"buildgraph"|getScriptPrefix}}>Build Graph</a>
		    <a href={{"graphupload"|getScriptPrefix}}>Compute Invariants</a>
		    <a href={{"convert"|getScriptPrefix}}>Convert Format</a>
		    <a href="https://github.com/openconnectome/MR-connectome/tree/master/MROCPdjango/examples">Code Examples</a>
		    <a href={{"accounts/projects"|getScriptPrefix}}>Projects</a>
                    <!--<a href="">Sample Data</a>-->
	    </div>
	</div>

        <!-- Tell me who is logged in -->
        <div id="loginStatus">
          {% if user.is_authenticated %}
            <FONT COLOR='#07c4ce'>Hi, {{ user.username }} </FONT>

	    <form action= {{"accounts/logout/"|getScriptPrefix}} method="post" enctype="multipart/form-data" name="logoutForm">
	      {% csrf_token %}
	      {{ form }}
	      <input name = "logout"  type="submit" value="Log out" class="button" />
   	   </form>

          {% else %}

	    <input type="submit" class="button" onclick="location.href='{{"accounts/login"|getScriptPrefix}}'" value="Log in"/>

	  {% endif %}
        </div>

        <h1><b> {% block bigheading %}{% endblock bigheading %}</b></h1>
        <h2>{% block medheading %}{% endblock medheading %}</h2>


        {% block content %}
          <!-- Programmatic instructions -->
          {% block programmatic %}
          {% endblock programmatic %}
        {% endblock content%}


        {% block footer %}
          <div class="footer">
              Property of the Johns Hopkins University (HSSL) | All rights reserved &copy {% now "YEAR_MONTH_FORMAT" %} |  Author: Disa Mhembere
          </div>
        {% endblock footer %}

      </body>
</html>
