<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load getScriptPrefix %}
<html lang="en">
    <head>
        <!--meta data-->
        <meta property="og:title" content="connectome"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="mr connectome"/>
        <!-- Style sheet and logo image -->
	<link  rel="shortcut icon" type="image/x-icon" href= "{% static 'images/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'default.css' %}"/>

        <title>
        {% block title %}
          {# Title here!#}
        {% endblock title %}
        </title>

          <script type="text/javascript">
            // Function to add a spinner during upload & processing
            function showSpinner( show )
            {
              show = typeof show !== 'undefined' ? show : true;

              if ( show == true )
              {
                document.getElementById('loadingImage').style.visibility='visible';
              }
              else
              {
                document.getElementById('loadingImage').style.visibility='hidden';
              }
            }
          </script>

        <script type="text/javascript">
          function Validate(oForm, _validFileExtensions) {
            var arrInputs = oForm.getElementsByTagName("input");
            for (var i = 0; i < arrInputs.length; i++) {
              var oInput = arrInputs[i];
              if (oInput.type == "file") {
                var sFileName = oInput.value;
                if (sFileName.length > 0) {
                  var blnValid = false;
                  for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                      blnValid = true;
                      break;
                        }
                      }

                if (!blnValid) {
                    showSpinner(false);
                    alert("Sorry, " + sFileName.split("\\").pop() + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    return false;
                  }
                }
              }
            }
            return true;
          }
        </script>

        <script type="text/javascript">
          function checkLcc() {

            var emailValue = document.getElementById("id_email").value;
            var fileObjName = document.getElementById("id_fileObj").value;
            var sCurExtension = ".zip";

           // Case where we are using lcc and no zip
            if ( (document.getElementById("id_lcc").checked && !emailValue) )
            {
              alert( "You must input an Email address if you use the LCC" );
              showSpinner(false);
              return false;
            }
            // Case where we have a zip but no email
            else if ( fileObjName.substr(fileObjName.length - sCurExtension.length, sCurExtension.length).toLowerCase()
                     == sCurExtension.toLowerCase() && !emailValue)
            {
              alert( "You must enter an email address for multiple file computations" );
              showSpinner(false);
              return false;
            }
            return true;
          }
        </script>

    </head>
    <body>
      <a href="http://openconnecto.me" target="blank">
      <img src="{% static 'images/openconnectome_brain_logo.png' %}" border="0"/></a>

        <!-- Navigation pane -->
	<!--<div class="container">
	    <div class="navigation">

              <ul id="menu">
                    <li><a href={{"welcome"|getScriptPrefix}}>Home</a></li>

		    <li><a href={{"buildgraph"|getScriptPrefix}}>Build Graph</a>
                      <ul>
                        <li><a href="">Sample Data</a></li>
                      </ul>
                    </li>

		    <li><a href={{"graphupload"|getScriptPrefix}}>Compute Invariants</a></li>
		    <li><a href={{"convert"|getScriptPrefix}}>Convert Format</a></li>
		    <li><a href="https://github.com/openconnectome/MR-connectome/tree/master/MROCPdjango/examples">Code Examples</a></li>
		    <li><a href={{"accounts/projects"|getScriptPrefix}}>Projects</a></li>
                    <li><a href={{"contact"|getScriptPrefix}}>Contact</a></li>
              </ul>
      </div>
	</div>
      -->

    <div class="container">
      <div class="navigation">
        <ul id="menu">
          <li><a href={{"welcome"|getScriptPrefix}}>Home</a></li>
          <li><a href={{"buildgraph"|getScriptPrefix}}>Build Graph</a>
              <ul>
                  <li><a href="http://mrbrain.cs.jhu.edu/data/projects/disa/OCPprojects/testdata/derivatives_testdata.zip">Sample Data</a></li>
                  <li><a href={{"buildgraph"|getScriptPrefix}}#programmatic>Programmatic Build</a></li>
              </ul>
          </li>
          <li><a href={{"graphupload"|getScriptPrefix}}>Compute Invariants</a>
              <ul>
                  <li><a href="http://mrbrain.cs.jhu.edu/data/projects/disa/OCPprojects/testdata/graphs_testdata.zip">Sample Data</a></li>
                  <li><a href={{"graphupload"|getScriptPrefix}}#programmatic>Programmatic</a></li>
              </ul>
          </li>

        <li><a href={{"convert"|getScriptPrefix}}>Convert Format</a>
            <ul>
                <li><a href="http://mrbrain.cs.jhu.edu/data/projects/disa/OCPprojects/testdata/convert_testdata.zip">Sample Data</a></li>
                <li><a href={{"convert"|getScriptPrefix}}#programmatic>Programmatic</a></li>
            </ul>
        </li>

        <li><a href="https://github.com/openconnectome/MR-connectome/tree/master/MROCPdjango/examples">Code Examples</a></li>
        <li><a href={{"accounts/projects"|getScriptPrefix}}>Projects</a></li>
        <li><a href={{"contact"|getScriptPrefix}}>Contact</a></li>

      </ul>
      </div>
    </div>


        <!-- Tell me who is logged in -->
        <div id="loginStatus">
          {% if user.is_authenticated %}
            <FONT COLOR='#00f5ff'>Hi, {{ user.username }} </FONT>

	    <form action= {{"accounts/logout/"|getScriptPrefix}} method="post" enctype="multipart/form-data" name="logoutForm">
	      {% csrf_token %}
	      {{ form }}
	      <input name = "logout"  type="submit" value="Log out" class="button" />
   	   </form>

          {% else %}

	    <input type="submit" class="button" onclick="location.href='{{"accounts/login"|getScriptPrefix}}'" value="Log in"/>

	  {% endif %}
        </div>

        <h1><b> {% block bigheading %}{% endblock bigheading %}</b></h1>
        <h2>{% block medheading %}{% endblock medheading %}</h2>


        {% block content %}
          <!-- Programmatic instructions -->
          {% block programmatic %}
          {% endblock programmatic %}
        {% endblock content%}


        {% block footer %}
          <div class="footer">
              Property of the Johns Hopkins University (HSSL) | All rights reserved &copy {% now "YEAR_MONTH_FORMAT" %}
         </div>
        {% endblock footer %}
	{% block author %}
         {# Disa Mhembere #}
	{% endblock author%}

      </body>
</html>
