{% extends "base.html" %}

  {% block title %}
    Confirm Download | MROCP
  {% endblock title %}

  {% block medheading %}
  Congratulations! Your data was sucessfully processed
  {% endblock medheading %}

  {% block content %}
        <h4> What would you like to do?</h4>

        <form action="" method="post" enctype="multipart/form-data" name="confirmDLForm">
	    {% csrf_token %}
            <p>{{ form }}</p>
	    <input name = "Output"  type="submit" value="Obtain processed data" class="button" onclick="showSpinner();"/>
            <input type="reset" value="Reset" class="button" name="clearForm" />
        </form>
        <!-- Spinner Image -->
      	<div style="position:absolute; left:153px; top: 212px;">
          <img id="loadingImage" src="{{STATIC_URL}}images/loading.gif"
               border="0" alt="loading" style="visibility:hidden;opacity:0.5"/> </div>
  {% endblock content%}
