{% extends "base.html" %}

  {% block title %}
    Contact | MROCP
  {% endblock title %}

  {% block bigheading %} Contact {% endblock bigheading %}

  {% block content %}
    <p>
      For issues with the services and the software suite please contact the webmaster: <br/>
      Disa Mhembere <br/>
      Email:  <a href="mailto:jhu.mrocp@cs.jhu.edu ">jhu.mrocp@cs.jhu.edu </a>
    </p>

    <h2>Code Contributors</h2>
    <p>
    Principal Investigator of HSSL (and much more): <br/>
    <a href="http://hssl.cs.jhu.edu/~randal/" target="blank">Randal Burns </a>
    </p>

    <p>
    JHU Computer Science Graduate Student: <br/>
    <a href="http://www.linkedin.com/pub/disa-mhembere/7/6a8/44" target="blank">Disa Mhembere</a>
    </p>

    <p>
    JHU Applied Math PhD Student: <br/>
    <a href="http://www.ams.jhu.edu/~dsussma3/" target="blank">Daniel Sussman</a>
    </p>

    <p>
      For a copy of the source code please visit our <a href="https://github.com/openconnectome/MR-connectome" target="blank"> github </a> page
    </p>

  {% endblock content%}
