{% extends "base.html" %}

  {% block title %}
    Graph conversion | MROCP
  {% endblock title %}

  {% block medheading %}
    Convert between graph formats
  {% endblock medheading %}

  {% block content %}

    <b>Select the file type of the graph to be converted. File type will also  be checked before conversion is attempted</b>
    <p>
    This interface currently only supports conversion between the following formats:
    </p>
    <div id="formats"> <code>graphml, pajek, ncol, lgl, dimacs, gml, dot, leda, npy, mat</code> </div>

    <p>
    Note that any graph attribute that is not representable in the format of conversion will be ignored during conversion.

    To perform conversion on multiple files of the same file type simply upload a zip containing all the files in a single directory.<br/>
    <strong> <FONT COLOR='#2373ff'> DO NOT zip a directory </FONT>, instead zip the files themselves into an archive.</strong>
    </p>

    <FONT COLOR='#ff0000'>{{err_msg}} </FONT>

    <form action="" class="nostyle" method="post" enctype="multipart/form-data" name="loadForm"
          onsubmit="return Validate(this,['.zip','.npy','.mat','.graphml','.pajek','.ncol','.lgl','.graphml','.dimacs','.gml','.dot','.leda']);">
      {% csrf_token %}
      {{ convertForm.as_ul}}
      <input name = "Convert button"  type="submit" value="Convert All" class="button" onclick="showSpinner();"/>
      <input type="reset" value="Reset" class="button" name="clearForm"/>
    </form>

    <div style="position:absolute; left:153px; top: 212px;">
      <img id="loadingImage" src="{{STATIC_URL}}images/loading.gif" border="0" alt="loading" style="visibility:hidden;opacity:0.5"/>
    </div>

    {% block programmatic %}
    <div id="programmatic">
      <h2> File conversions may also be done programmatically</h2>
      <p>
      The use is similar to building a graph programmatically. The base url is <pre>http://mrbrain.cs.jhu.edu/disa/convert/</pre>
      <a href="https://github.com/openconnectome/MR-connectome/blob/master/MROCPdjango/examples/singleConvert.py" target="blank">Single</a> and
      <a href="https://github.com/openconnectome/MR-connectome/blob/master/MROCPdjango/examples/multiConvert.py" target="blank">batch</a>
      conversion examples are available in the <a href="https://github.com/openconnectome/MR-connectome/tree/master/MROCPdjango/examples" target="blank">examples</a> directory. <br/>
      </p>

    <div id="single prog">
      <h3> Single file conversion </h3>
        <p>
        An example of executing the sample code from the command line is <code>python singleConvert.py filename.graphml http://mrbrain.cs.jhu.edu/disa/convert/graphml/pajek,dot</code> <br/>
        This would convert a graph of file type <code>graphml</code> format to <code>pajek</code> and <code>dot</code> format.<br/>
        </p>
    </div>

      <a href="#formats">The following</a> are the ONLY accepted file types.

    <div id="multi prog">
      <h3> Multiple file conversion</h3>
        <p>
        <a href="https://github.com/openconnectome/MR-connectome/blob/master/MROCPdjango/examples/multiConvert.py" target="blank">The example</a> converts a directory of files of one type from one format to another. It assumes you have this
        directory somewhere already. It's use is similar to that of the <a href="https://github.com/openconnectome/MR-connectome/blob/master/MROCPdjango/examples/singleConvert.py" target="blank">single</a>
         conversion. <br/>

        An example of executing the sample code from the command line is <code>python multiConvert.py SomeDirectory http://mrbrain.cs.jhu.edu/disa/convert/mat/graphml,gml</code> <br/>
        This would convert a directory (not a zipfile) of files of type <code>mat</code>  to <code>graphml, gml and dot</code> format.
        </p>
      </div>
    </div>
    {% endblock programmatic %}
  {% endblock content%}
