
/* standard elements */
html {min-height: 100%;}

* {
	margin: 20;
	padding: 10;
}

a {color: #963;}
a:hover {color: #C60;}

body {
	background-image:url('http://a0.twimg.com/profile_images/1279484811/brain_favicon__1_.png');
        background-size: 10%;
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-position:top right;
        color: #444;
        font: normal 95% Tahoma,sans-serif;
        padding-bottom: 40px;
}

p,code,ul {padding-bottom: 1.2em; line-height: 180%;}

li {list-style: none;}

h1 {
	font: normal Tahoma,sans-serif;
	margin-bottom: 4px;

}

code {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #C1CAD3;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}


h1,h2,h3 {padding-top: 6px;}

/* structure */
.container {
	background: #FFF;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 10px 10px;
	width: 987px;
}

/* navigation */
.navigation {
	background: #D9E1E5 url(img/nav.gif);
	border: 1px solid #DFEEF7;
	border-color: #DFEEF7 #CFDEE7;
	height: 41px;
}
.navigation a {
	background: #D9E1E5 url(img/nav.gif);
	border-right: 1px solid #AFBEC7;
	color: #456;
	display: block;
	float: left;
	font: bold 1.1em sans-serif;
	line-height: 41px;
	padding: 0 15px;
	text-decoration: none;
}
.navigation a:hover {background-position: left bottom; color: #234;}

/* footer */
.footer {
	background: url(img/bgfooter.gif) repeat-x;
	color: #456;
	font: bold 1em sans-serif;
	line-height: 39px;
	padding: 0 12px;
	text-align: center;
}

.footer a, .footer a:hover {color: #444;}

/*Button*/

.button {
  color: #444;
  border: 1px solid #3da7f5;
  font-weight: bold;
}