{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load getScriptPrefix %}
{% load static %}

{% block title %}
Download Graph | MROCP
{% endblock title %}

{% block medheading %}
Download biologically derived graphs
<img src="{% static 'images/graph_sm.png' %}"alt="small graph" align="middle"  height="80" width="80"/>
{% endblock medheading %}

{% block content %}
<p>Thanks to all who provided the raw data from which we derived these graphs. Every graph
is annotated with a <code> source</code> attribute that denotes its origin.<br/>
All graphs are provided in <a href="http://graphml.graphdrawing.org/" target="blank">graphML</a> file
format. If this is not suitable for your purposes, consider using our
<a href="{{"convert"|getScriptPrefix}}">graph conversion api</a>. Examples of how to load graphs using igraph can
be found <a href="{{"igraph"|getScriptPrefix}}">here</a>.
</p>

<form action="" class="nostyle" method="post" enctype="multipart/form-data" name="queryForm">
  {% csrf_token %}
  {{ query }}
  <input name = "search"  type="submit" value="Search" class="button" onclick="showSpinner();"/>
</form>

{% if genera %}
<div id="data_tables">
  {% for genus in genera %}
    <div id="{{ genus.0.html_name }}">
        <h3> {{ genus.0.html_name }} </h3>
        {% render_table genus.0 %}

        <form action="" method="post" enctype="multipart/form-data" name="">
          <input name ="{{ genus.1.form_name }}"  type="submit" value="Download all {{ genus.1.form_name }}" class="button" />
          {{ genus.1 }}
        </form>
    </div>
  {%endfor%}
</div>

{%  elif query_result %}
  <div id="query_table">
    <h3> {{ query_result.html_name }}</h3>
    {% render_table query_result %}
  </div>

{% else %}
  <p class="errormsg"> Sorry, no results matched your search! Please try again </p>
  <input onclick="location.href='{{"download"|getScriptPrefix}}'" type="button" value="Reset search" class="button"/>
{% endif %}

<br/><br/>

{% endblock content%}
