{% extends "base.html" %}

  {% block title %}
    GraphUpload | MROCP
  {% endblock title %}

  {% block medheading %}
    Please upload the graph(s).
  {% endblock medheading %}

  {% block content %}
    <b>Uploading the largest connected components(LCC) file for big graphs is highly recommended for resonable processing time.</b>
    <p> You must use a single<strong> zipfile <i> (.zip) </i> containing ALL</strong> data in a single directory even for multiple graphs. <br/>
    <strong> <FONT COLOR='#ff0000'> DO NOT zip a directory</FONT>, instead zip the files themselves into an archive.</strong>
    Note the following file naming convention for graphs - where the <strong>base file name must be the same</strong>:
    <ul>
      <li>The <strong>base file name </strong> here is <strong>graph1</strong></li>
      <li>Graph file name: graph1_fiber.mat, graph1_smgr.mat graph1_bggr.mat are acceptable.</li>
      <li>LCC file name: graph1_concomp.mat (Big graphs only).</li>
      <li><strong>All graphs must have their suffix be either _fiber.mat, _smgr.mat or _bggr.mat</strong>. Eg graph1_fiber.mat, xyz_smgr.mat and
        foobar_bggr.mat are all acceptable names.</li>
    </ul>

    <!--
    You may adapt the file names of you data sets by appending these suffixes using
    <a href="https://github.com/openconnectome/MR-connectome/blob/master/MROCPdjango/dirconformance/renameDerivs.py" target="blank">this script</a>.
    You need to have a directory that contains a folder named <i>fiber</i> (containing fiber files)
    Ensure you have backups before doing this. <FONT COLOR='#ff0000'> This may change in the future.</FONT> -->

    <h2>Specifications for acceptable graphs</h2>
    <ul>
      <li> A <a href="http://www.mathworks.com/help/matlab/ref/struct.html"> MATLAB struct </a> with a data element named named
      <FONT COLOR='#ff0000'><i>fibergraph</i></FONT> that is a <a href="http://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csc_matrix.html#scipy.sparse.csc_matrix">
      numpy CSC (Compressed Sparse Column) matrix</a>. <br/>
      It should be loadable from a python shell with using <a href="http://docs.scipy.org/doc/scipy/reference/generated/scipy.io.loadmat.html">scipy.io.loadmat</a>(filename)[<FONT COLOR='#ff0000'>'fibergraph'</FONT>] only.
      </li>

      <h3>What's the difference between big and small graphs?</h3>

      We consider small graphs to be 70 x 70 vertices of a CSC matrix. The service will accept larger or smaller
      matrices to be considered as a small graph, but we do not recommend it as it may produce unexpected
      be behavior. <br/>

      The big graphs the MROCP constructs are on the order of > 10 M x 10 M vertices, but are other wise identical to
      small graph. Working with big graphs requires the largest connected component (LCC) as well since we do not consider
      grey matter in computation.

    </ul>

    </p>
    <form action="" method="post" enctype="multipart/form-data" name="loadForm" onsubmit="return Validate(this,['.mat'] );">
        {% csrf_token %}
        <p>{{ graphUploadForm }}</p>
        <input name = "Derivatives"  type="submit" value="Upload Graph(s)" class="button" onclick="showSpinner();"/>
        <input type="reset" value="Reset" class="button" name="clearForm" />
    </form>

    <div style="position:absolute; left:153px; top: 212px;">
      <img id="loadingImage" src="{{STATIC_URL}}images/loading.gif" border="0" alt="loading" style="visibility:hidden;opacity:0.5"/>
    </div>

    {% block programmatic %}
      <div id="Programmatic uses">
      <h2>Programmatic use </h2>
      <p> This is can be accessed using the base url <strong>http://www.mrbrain.cs.jhu.edu/disa/graphupload/</strong>. An
          example of usage can be found <a href="https://github.com/openconnectome/MR-connectome/blob/master/MROCPdjango/examples/computeInvariants.py" target="blank">here</a>.
          <FONT COLOR='#ff0000'> This section will be updated shortly. Big graph testing incomplete.</FONT> <!-- TODO UPDATE WHEN COMPLETE-->
      </p>
    {% endblock programmatic %}
  {% endblock content%}