<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
	<link  rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico" /> <!-- new -->
	<!--<link rel="stylesheet" type="text/css" href="static/default.css"/> -->
    	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}default.css"/>
        <title>Welcome | MROCP</title>
    </head>
    <body>
      <a href="http://openconnecto.me" target="blank">
      <img src="static/images/openconnectome_brain_logo.png" border="0"/></a> <!-- new -->

	<div class="container">
	    <div class="navigation">
		    <a href="http://mrbrain.cs.jhu.edu/disa">Home</a>
		    <a href="http://mrbrain.cs.jhu.edu/disa/buildgraph">Build Graph</a>
		    <a href="http://mrbrain.cs.jhu.edu/disa/graphupload">Compute Invariants</a>
		    <a href="http://mrbrain.cs.jhu.edu/disa/convert">Convert Format</a>
		    <a href="https://github.com/openconnectome/MR-connectome/tree/master/MROCPdjango/examples">Code Examples</a>
		    <a href="">Documentation</a>
	    </div>
	</div>

	<h1>Welcome to the Magnetic Resonance One-Click Pipeline (MROCP) for Connectomes [ALPHA]</h1>

	<p> Welcome! This is an Open Source Project that provides Web Services to perform a scientifically
	interesting tasks involving <a href="http://en.wikipedia.org/wiki/Connectome">Connectomes</a>.
	<br/>
	Services here can either be accessed programmatically or via web forms.

	Want to <a href="http://openconnecto.me/">learn more</a> about the OpenConnectome projects?
	</p>

	<div id="Form use options">
	    <h2>Form based use </h2>
	    You may choose to:
	    <ul>
	    <li>
		<a href="http://mrbrain.cs.jhu.edu/disa/buildgraph"> Upload derivatives </a> (fiber tractography and region of interest files)
		, build a graph and optionally compute invariants.
	    </li>
	    <li>
		<a href="http://mrbrain.cs.jhu.edu/disa/graphupload"> Compute Invariants </a> of graphs previously built - including:
		<ul>
		    <li> The Scan Statistic 1</li>
		    <li> The Triangle Count </li>
		    <li> The Clustering Coefficient</li>
		    <li> The Maximum Average Degree</li>
		    <li> The Local Degree Count</li>
		    <li> The Top 100 eigenvalues</li>
		    <li> The Scan Statistic 2 [Coming soon]</li>
		    <li> The Average Path Length [Coming soon]</li>
		    <li> The Graph Diameter [Coming soon]</li>
		</ul>
	    </li>

	    <li>
		<a href="http://mrbrain.cs.jhu.edu/disa/convert"> Convert</a> data files between npy, mat and csv formats.
		Data files include built graphs, largest connected component, and all invariants.<FONT COLOR='#ff0000'> Some conversion formats unavailable</FONT>. <!-- TODO -->
	    </li>

	    </ul>
	</div>

	<div id="Programmatic options">
	    <h2>Programmatic use </h2>
	    All services can also be accessed programmatically as follows:
		<ul>
		    <li>
			<h3>Upload derivatives to build a graph</h3>
			This service's base url for an upload is <strong>http://mrbrain.cs.jhu.edu/disa/upload/ </strong>. <br/>

			A single subject graph build example can be found here <a href="https://github.com/openconnectome/MR-connectome/blob/master/MROCPdjango/examples/uploadsubj.py"
			target="blank"> uploadsubj.py</a>.<br/>

			<a href="https://github.com/openconnectome/MR-connectome/blob/master/MROCPdjango/examples/uploadMultiSubj.py" target="blank">Multi-subject/scan example</a>
			is also provided for batch uploading and processing of multiple scans. <br/>

                        <a href="http://mrbrain.cs.jhu.edu/disa/buildgraph#Programmatic uses">Detailed use cases</a> are available for more information on usage.
		    </li>

		    <li>
			<h3> Compute Invariants of built graphs </h3>
			<p> This can be accessed using the base url <strong>http://www.mrbrain.cs.jhu.edu/disa/graphupload/</strong>. An
                        example of usage can be found <a href="https://github.com/openconnectome/MR-connectome/blob/master/MROCPdjango/examples/computeInvariants.py" target="blank">here</a>.
                        <FONT COLOR='#ff0000'> Big graph testing incomplete.</FONT> <!-- TODO UPDATE WHEN COMPLETE--> <br/>

                        <a href="http://mrbrain.cs.jhu.edu/disa/convert#Programmatic uses">Detailed use cases</a> are available for more information on usage.

                        </p>
		    </li>

		    <li>
			<h3> Convert data file formats</h3>
			The use is similar to building a graph programmatically. The base url is <strong>http://mrbrain.cs.jhu.edu/disa/convert/</strong>. <br/>
			<a href="https://github.com/openconnectome/MR-connectome/blob/master/MROCPdjango/examples/singleConvert.py" target="blank">Single</a> and
                        <a href="https://github.com/openconnectome/MR-connectome/blob/master/MROCPdjango/examples/multiConvert.py" target="blank">batch </a>
                        conversion examples are available in our examples repository. <br/>

                        <a href="http://mrbrain.cs.jhu.edu/disa/graphupload#Programmatic uses">Detailed use cases</a> are available for more information on usage.
		    </li>
		</ul>
	    </div>
	<div class="footer">
	    Property of the Johns Hopkins University (HSSL) |  Author: Disa Mhembere
	</div>
      </body>
</html>
