table.dark {
    border-collapse: collapse;
    border-color: #CCC;
    border: 1px solid #DDD;
    
}

table.dark,
table.dark +  ul.pagination {
    font: normal 11px/14px 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
}

table.dark a:link,
table.dark a:visited,
table.dark + ul.pagination > li > a {
    color: #00ffff;
    text-decoration: none;
    font-weight: bold;
}

table.dark a:hover {
    color: #036;
}

table.dark td,
table.dark th {
    padding: 5px;
    line-height: 13px;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #DDD;
    text-align: left;
}

table.dark thead th:first-child,
table.dark thead td:first-child {
    border-left: none !important;
}

table.dark thead th,
table.dark thead td {
    /*background: #FCFCFC; url(../img/header-bg.png) left bottom repeat-x;*/
    border-bottom: 1px solid #DDD;
    padding: 2px 5px;
    font-size: 11px;
    vertical-align: middle;
    /*color: #666;*/
}

table.dark thead th > a:link,
table.dark thead th > a:visited {
    /*color: #666;*/
    color:red;
}

table.dark thead th.orderable > a {
    padding-right: 20px;
    background: url(../img/arrow-inactive-up.png) right center no-repeat;
}
table.dark thead th.orderable.asc > a {
    background-image: url(../img/arrow-active-up.png);
}
table.dark thead th.orderable.desc > a {
    background-image: url(../img/arrow-active-down.png);
}

table.dark tr.odd {
    background-color: gray;
}

table.dark tr.even {
    background-color: black;
}

table.dark + ul.pagination {
    background: white url(../img/pagination-bg.gif) left 180% repeat-x;
    overflow: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #DDD;
    list-style: none;
}

table.dark + ul.pagination > li {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}

table.dark + ul.pagination > li:first-child {
    margin-left: 0;
}

table.dark + ul.pagination > li.cardinality {
    float: right;
    color: #8d8d8d;
}

table.dark > tbody > tr > td > span.true,
table.dark > tbody > tr > td > span.false {
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    overflow: hidden;
    text-indent: -200px;
    width: 10px;
}

table.dark > tbody > tr > td > .missing {
    background: transparent url(../img/missing.png) right center no-repeat;
    color: #717171;
    padding-right: 20px;
}

table.dark > tbody > tr > td > .missing:hover {
    color: #333;
}

table.dark > tbody > tr > td > span.true {
    background-image: url(../img/true.gif);
}

table.dark > tbody > tr > td > span.false {
    background-image: url(../img/false.gif);
}

div.table-container {
    display: inline-block;
}
