<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html lang="en">
    <head>
      <!-- Style sheet and logo image -->
      <link  rel="shortcut icon" type="image/x-icon" href= "{% static 'images/favicon.ico' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'default.css' %}"/>

      <title>
      {% block title %}
        {# Title here!#}
      {% endblock title %}
      </title>

    <script type="text/javascript">
      // Function to add a spinner during upload & processing
      function showSpinner(){
              document.getElementById('loadingImage').style.visibility='visible';
      }
    </script>

  {% block customheader %}{% endblock %}
    </head>

  <body>
    <a href="http://openconnecto.me" target="blank">
      <img src="{% static 'images/openconnectome_brain_logo.png' %}" border="0"/></a>
  <!-- Logged in status -->
    <div id="loginStatus">
      {% if user.is_authenticated %}
        <b><FONT COLOR='#27fd1e'>Logged in as: {{ user.username }} </FONT></b>
      {% else %}
        <b><FONT COLOR='#fdc23c'> You are currently not logged in </FONT> </b>
      {% endif %}
    </div>

  {% block content %}
  {% endblock %}

  </body>
</html>