<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load getScriptPrefix %}
<html lang="en">
    <head>
      <!--meta data-->
      <meta property="og:title" content="connectome"/>
      <meta property="og:type" content="website"/>
      <meta property="og:site_name" content="mr connectome"/>
      <!-- Style sheet and logo image -->
      <link  rel="shortcut icon" type="image/x-icon" href= "{% static 'images/favicon.ico' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'default.css' %}"/>

      <title>
      {% block title %}
        {# Title here!#}
      {% endblock title %}
      </title>

    <script type="text/javascript">
      // Function to add a spinner during upload & processing
      function showSpinner(){
              document.getElementById('loadingImage').style.visibility='visible';
      }
    </script>

  {% block customheader %}{% endblock %}
    </head>

  <body>
    <a href="http://openconnecto.me" target="blank">
      <img src="{% static 'images/openconnectome_brain_logo.png' %}" border="0"/></a>

     <!-- Navigation pane -->
	<div class="container">
	    <div class="navigation">
                    <a href={{"welcome"|getScriptPrefix}}>Home</a>

		    <a href={{"buildgraph"|getScriptPrefix}}>Build Graph</a>
		    <a href={{"graphupload"|getScriptPrefix}}>Compute Invariants</a>
		    <a href={{"convert"|getScriptPrefix}}>Convert Format</a>
		    <a href="https://github.com/openconnectome/MR-connectome/tree/master/MROCPdjango/examples">Code Examples</a>
		    <a href={{"viewprojects"|getScriptPrefix}}>Projects</a>
                    <!--<a href="">Sample Data</a>-->
	    </div>
	</div>

  <!-- Logged in status -->
    <div id="loginStatus">
    {% if user.is_authenticated %}
        <b><FONT COLOR='#07c4ce'> Hi, {{ user.username }} </FONT></b>
    </div>
    {% endif %}

  {% block content %}
  {% endblock %}

  </body>
</html>
