<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
  <title>
    {% block full-title %}
    {% block title %}{% endblock title %}
    {% endblock full-title %}
  </title>

  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />


  <script type="text/javascript">
      function swapHoverSrc() {
          var currentImg = $(this).attr('src');
          $(this).attr('src', $(this).attr('hover'));
          $(this).attr('hover', currentImg);
      }

      $(function() { $('.rollerover').hover(swapHoverSrc, swapHoverSrc) });
  </script>

  {% block customheader %}{% endblock %}

</head>

<body>

{% block content %}
{% endblock %}



<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-1785594-4");
	pageTracker._trackPageview();
</script>

</body>
</html>