{% extends "registration/base.html" %}

{% block title %}Password Reset Email Sent | MROCP {% endblock %}

{% block content %}
  <div id="login">
    <div id="content">
      <p>We've sent you an email with instructions on how to complete the password reset process.</p>
      <p>If you haven't receieved it in the next hour or so, check your spam folder.
        If all else fails, try contacting us at 
        <a href="mailto:jhu.mrocp@cs.jhu.edu">jhu.mrocp@cs.jhu.edu</a>.
        </p>
    </div>
  </div>
{% endblock %}
