{% extends "registration/base.html" %}

{% block title %} Register | MROCP {% endblock %}


{% block content %}
<div id="register">
    <div id="content">
        <form method="post" action=".">{% csrf_token %}
            <p class="form">
                <table>
                    {{ form }}
                </table>
            </p>

            <p class="submit">
                <input type="submit" value="Register" class="button"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </p>
        </form>

        <p class="register">
            Already have an account? <a href="{% url auth_login %}">Log in!</a>
        </p>

    </div>
</div>
{% endblock %}
